.box3{
    width: 90%;
    margin: 5%;
    min-height : 100vh;
}

.messageHome{
    width: 90%;
    margin-bottom : 5%
}


.profilPictureHome{
    height: 20px;
    padding: 20px;
}

.contentHome{
}

.messageContextHome{
    float: right
}

.commentHome{
    display: flex;
    flex-direction: column
}

.responseHome{
    display: flex;
    flex-direction: row;
    width : 100%
}

.commentHeaderHome{
    border-width: 1px;
    border-style: solid;
    width : 25%
}

.commentContentHome{
    border-width: 1px;
    border-style: solid;
    width : 50%
}