h1 {
      text-align: center;
}

root{
    max-height: 80%;
}
.mainPanel{
    margin: 5vh auto;
    width : 70%;
    min-height: 70vh;
    background-color: white;
    position: relative;


}

.etudiantPanel{
    padding: 1%;
    margin-top : 15px;
    border : gray 1px solid;
}

.nameProfil{

}
.profilPanel{

}
.resultPanel{


}

.buttonSeeProfil{
    padding-top: 2%;
}

.buttonSendMessage{
    padding-top: 2%;
}



