Tabs{
    width: 100%;
    display: flex;
}
.headerButtonHome:hover,.headerButtonMesMessages:hover,.headerButtonEnseignants:hover,.headerButtonEtudiants:hover,.headerButtonMaterials:hover{
    color : #222222;
    background-color: ghostwhite;
    transition-duration: 1s;
    border-radius: 5px;
}