.search{
    margin : 0 auto;
    opacity: 0.5;
    border: gray 1px solid;
    border-radius: 15px;
    padding-left: 5%;
}

.searchIcon svg{
    margin-right: 5%;
    padding-top: 1%;
}

.searchText {
    padding: 0;
}


