
.answer{
    width: 80%;
    align-self: flex-end;
    
}
.avatar{
    height : 20px;
    padding : 20px
}

.main{
    overflow-y: scroll
}

.comment{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.buttonSeeComment{
    width : 20%;
}
.buttonRepondre{
    width : 20%;
}
.buttonMessage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentHeaderGlobal{
    border-width: 1px;
    border-style: solid;
    width: 30%;
}
.commentContent{
    border-width: 1px;
    border-style: solid;
    width: 100%;
}
.likeDislike{
    border-width: 1px;
    border-style: solid;
}

.button{
    float: right;
    background-color: white;
    margin: 3%;
    position: fixed
}
